*.o
*.so
*.sw[op]

local.properties

android/lib/obj/
android/sandbox/bin/
android/sandbox/obj/
android/resinlib/obj

CMakeCache.txt
CopyOfCMakeCache.txt
CMakeFiles/
cmake_install.cmake

emscripten/debug/Makefile
emscripten/debug/src/
emscripten/release/Makefile
emscripten/release/src/
emscripten/sandbox.html
emscripten/sandbox.html.map

xcode/Resin.build/
xcode/Resin.xcodeproj/
xcode/src/
xcode/CMakeScripts/

src/resin/renderers/shaders/*.vert
src/resin/renderers/shaders/*.frag

.DS_Store
